<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="customerfile" frontName="customerfile">
            <module name="Orangecat_RegisterUploadFile"/>
        </route>
    </router>
</config>